h1 {
	color: blue;
	padding-left: 30px;
}

.cell1 {
	width: 24%;
	font-size: 15px;
}

.jpeg {
	font-size: .95em;
}

.cell2 {
	width: 55%;
}

.cell3 {
	width: 21%;
}

body {
	background-color: #d8dae0;
}

h4 {
	text-align: center;
}

table{ 
	height: 430px;
	padding: 20px 10px 15px 10px;
}

td {
	vertical-align: top;
	border: 1px dotted blue; 
	padding: 30px 15px 10px 15px;
	background-color: white;
	height: 110px;
}

